[Unit]
Description=Barcode Validator Docker Container
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/run-barcode-validator.sh
ExecStop=/usr/bin/docker stop barcode_validator
ExecStopPost=/usr/bin/docker rm barcode_validator
Restart=always

[Install]
WantedBy=multi-user.target

# Save this file as /etc/systemd/system/barcode-validator.service
# Then, after creating the service file, you need to reload the systemd manager configuration,
# enable the service to start on boot, and start it immediately:
# $ sudo systemctl daemon-reload
# $ sudo systemctl enable barcode-validator.service
# $ sudo systemctl start barcode-validator.service

# To check the status of the service, you can use the systemctl command:
# $ sudo systemctl status barcode-validator.service

# If you update the Docker image, you'll need to restart the service for the changes to take effect:
# $ sudo systemctl restart barcode-validator.service