marker: COI-5P  # Options: COI-5P, matK, rbcL
hmm_profile_dir: ../examples/hmm

# Validation modes
validate_taxonomy: true
validate_structural: true

# Validation parameters
validation_rank: family  # Taxonomic level at which to validate identifications
input_taxonomy: bold  # Options: bold, ncbi, nsr
reference_taxonomy: ncbi
min_sequence_length: 500
max_ambiguities: 6

# Taxonomy sources
ncbi_file: ../examples/taxdump.tar.gz
bold_file: ../examples/bold.xlsx  # Required if taxonomic_backbone: bold
nsr_file: ../examples/nsr-20250207.dwca.zip  # Required if taxonomic_backbone: dwc
entrez_email: bioinformatics@naturalis.nl

# BLAST configuration
blast_db: /home/rutger.vos/data/ncbi/nt/nt
num_threads: 56

# TODO: check the effect of evalue=0.05, max_target_seqs=100, i.e. web BLAST defaults, which
# yield more hits with greater tolerance
evalue: 1e-5
max_target_seqs: 10
word_size: 28
constrain: class        # Higher taxon level to constrain BLAST searches within

# BLAST environment
BLASTDB: /home/rutger.vos/data/ncbi/nt
BLASTDB_LMDB_MAP_SIZE: 1000G

# Logging
log_level: WARNING
log_file: ../log_file.log