marker: COI-5P  # Options: COI-5P, matK, rbcL
hmm_profile_dir: ../examples/hmm

# Validation modes
validate_taxonomy: true
validate_structural: true

# Validation parameters
validation_rank: family  # Taxonomic level at which to validate identifications
taxonomic_backbone: bold  # Options: bold, dwc
min_sequence_length: 500
max_ambiguities: 6

# Taxonomy sources
ncbi_taxonomy: ../examples/taxdump.tar.gz
ncbi_taxonomy_url: https://ftp.ncbi.nih.gov/pub/taxonomy/taxdump.tar.gz
bold_sheet_file: ../examples/bold.xlsx  # Required if taxonomic_backbone: bold
dwc_archive: ../examples/  # Required if taxonomic_backbone: dwc
dwc_archive_url: http://api.biodiversitydata.nl/v2/taxon/dwca/getDataSet/nsr

# BLAST configuration
blast_db: /home/rutger.vos/data/ncbi/nt/nt
num_threads: 56
evalue: 1e-5
max_target_seqs: 10
word_size: 28
constrain: class        # Higher taxon level to constrain BLAST searches within

# BLAST environment
BLASTDB: /home/rutger.vos/data/ncbi/nt
BLASTDB_LMDB_MAP_SIZE: 1000G

# Logging
log_level: WARNING
log_file: ../log_file.log